{{#link-to 'contact.new'}}
  <p>
    <button>New Contact</button>
  </p>
{{/link-to}}

<h1>Contacts</h1>
{{#each model as |contact|}}
  <p>{{contact.fullName}}
  {{#link-to 'contact.edit' contact.id}}<button>Edit</button>{{/link-to}}
  <button {{action "deleteContact" contact.id}}>Delete</button>
  </p>
{{/each}}
